{% extends 'blog/base.html' %} 
{% load static %} 
{% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime eligendi voluptas, vitae, eos, cupiditate expedita similique corrupti ab maiores tempore reprehenderit quasi obcaecati.
     Molestiae corporis quasi qui eius commodi consequuntur.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     Magnam obcaecati cupiditate quia alias! Molestiae voluptatibus a, inventore et, quasi, laborum qui possimus non nostrum excepturi iste cum fuga quas unde repellat tempora explicabo earum eligendi aut aspernatur officiis facere! Accusantium quam minus 
     deserunt veniam atque soluta eligendi ut iusto quis!</p>
  
</div>

{% endblock content %}
